/* base.cssに適用 */
@charset "UTF-8";

/* reset.css
=========================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

header,footer,nav,section,article,main,
aside,figure,figcaption {
  display: block;
}

ul, ol {
  list-style:none;
}

img {
  border: none;
  vertical-align: bottom;
}

a,button,label {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: transparent;
  cursor: pointer;
  font: inherit;
}

a {
	display: block;
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

input, select {
  vertical-align:middle;
}

/* 共通パーツ
=========================== */
html {
  font-size: 62.5%; /*  1rem = 10px  */
  scroll-behavior: smooth;
}

:root {
  /* 色 */
  --color-base: #3F3F3F;
  --color-heading: #4F6F52;
  --color-sub: #6B6B6B;
  --color-accent: #7BAE7F;
  --color-link: #4F6F52;
  --color-hover: #7BAE7F;
  --color-footer: #5C5C5C;

	/* バックグランドカラー */
  --bg-main: #71b576;
  --bg-accent: #C3E6A0;
  --bg-base: #FAF7F0;
  --bg-sub: #C8B08B;
  --bg-soft: #F7F7F5;
  --bg-link: #0070f3;

  /* フォント */
  --ff-en:  "Playfair Display", "Noto Serif JP", serif;
  --ff-jp:  'Noto Sans JP',system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	--ff-label: 'Inter', 'Noto Sans JP',sans-serif;

  /* フォントサイズ */
	--fz-sm:14px;
  --fz-base: 16px;
  --fz-ttl: 40px;

  /* 画像サイズ */
  --width-base: 1200px;
  --width-pc: 1920px;
  --width-box: 1000px;
  --width-sp: 749px;
}

body {
	font-size: var(--fz-base);
	font-family: var(--ff-en);
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: .08em;
	background: transparent;
	color: var(--color-base);
	-webkit-font-smoothing: antialiased;
}

.page-inner {
  margin: 0 auto;
  width: 100%;
	max-width: 1920px;
}

.content-inner {
  padding-inline: 24px;
}

.jm-section__ttlArea {
  text-align: center;
}

.jm-section__title {
  font-size: 40px;
  font-weight: 600;
  color: var(--color-heading);
}

.jm-section__subtitle {
  font-size: 18px;
  color: #555;
}

.jm-btn {
  background: var(--bg-soft);
  border: 1px solid var(--bg-accent);
  padding: 6px;
  border-radius: 4px;
  color: var(--color-heading);
}

.jm-btn:hover {
  background: var(--bg-accent) ;
}

/* footer
  =========================== */
.jm-footer {
  padding: 60px 0 0 !important;

}

.jm-footer__bg {
  background: var(--bg-main);
  padding-bottom: 16px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

@media screen and (max-width: 749px) {
  .content-inner {
    padding-inline: 16px;
  }

  .jm-section__ttlArea {
    margin-top: 0;
  }

  .jm-section__title {
    font-size: 28px;
  }

  .jm-section__subtitle {
    font-size: 14px;
  }

  /* footer
  =========================== */
  .jm-footer {
  padding-top: 40px !important;
}

  /* jm-spacer
  =========================== */
    #shopify-section-{{ section.id }} .jm-spacer {
      padding-top: {{ section.settings.padding_top_sp }}px;
    }
}

/* pop-up
=========================== */
.jm-popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none;
}

.jm-popup.is-active {
  display: block;
}

.jm-popup__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.jm-popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  z-index: 2;
  padding: 10px 20px 20px;
  border-radius: 8px;
  color: var(--color-base);
}

.jm-popup__close {
  line-height: 1;
  font-size: 20px;
}

.jm-popup__title {
  margin-top: 8px;
  font-size: 20px;
  font-weight: 500;
}

.jm-popup__text {
  margin-top: 12px;
  font-size: 14px;
}

.jm-popup__form {
  margin-top: 12px;
  font-size: 14px;
}
