/* base.cssに適用 */
@charset "UTF-8";

/* fvセクション
=========================== */


/* jm-concept
=========================== */
.jm-concept {
  margin: 0 auto;
  text-align: center;
  padding: 60px 0;
}

.jm-concept__ttlArea {
  margin-bottom: 40px;
}

.jm-concept__title {
  letter-spacing: 0.08em;
  margin-bottom: 0.8rem;
  font-size: 48px;
  font-weight: 700;
}

.jm-concept__subtitle {
  font-size: 1.4rem;
  color: #555;
}

.jm-concept__txtArea {
  max-width: 720px;
  margin: 0 auto 4rem;
}

.jm-concept__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.jm-concept__columnTitle {
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
}

.jm-concept__columnText {
  text-align-last: left;
}

@media screen and (max-width: 749px) {
  .jm-concept__columns {
    grid-template-columns: 1fr;
  }
}

/*  JM Benefits
=========================== */
.jm-benefits {
  text-align: center;
  margin: 0 auto;
}

.jm-benefits__title {
  margin-top: 100px;
  letter-spacing: 0.08em;
  font-size: 48px;
  font-weight: 700;
}

.jm-benefits__image {
  margin-top: 30px;
  width: 100%;
  max-width: 1000px;
}
.jm-benefits__columns {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.jm-benefits__column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jm-benefits__columnInner {
  flex: 1;
  background-color: #F6F7F4; /* 薄い抹茶系オフホワイト */
  padding: 40px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.jm-benefits__subTitle {
  margin-top: 60px;
  font-size: 28px;
  font-weight: 700;
}

.jm-benefits__columnTitle {
  font-size: 20px;
  font-weight: 600;
}

.jm-benefits__columnText {
  margin-top: 16px;
  flex-grow: 1;
  line-height: 1.8;
  text-align: left;
}


@media screen and (max-width: 749px) {
  .jm-benefits__columns {
    grid-template-columns: 1fr;
  }
}
