/* base.cssに適用 */
@charset "UTF-8";

/* fv (hero)
=========================== */
.jm-fv {
  height: 90vh;
}

.jm-fv__title{
  font-family: var(--ff-en);
  font-weight: 600;
}

@media screen and (max-width: 749px) {
  .jm-fv {
    height: 80vh;
  }
}

/* jm-concept
=========================== */
.jm-concept {
  margin: 100px auto 120px;
  width: 100%;
}

.jm-concept__ttlArea {
  text-align: center;
}

.jm-concept__subtitle {
  font-size: 18px;
  color: #555;
}

.jm-concept__txtArea {
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
}

.jm-concept__paragraphs {
  margin: 48px auto 0;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.jm-concept__paraTitle {
  font-size: 20px;
  font-weight: 500;
}

.jm-concept__paraText {
  margin-top: 8px;
}

@media screen and (max-width: 749px) {
  .jm-concept {
    margin: 80px auto 95px;
  }

  .jm-concept__txtArea {
    margin-top: 44px;
  }

  .jm-concept__columns {
    grid-template-columns: 1fr;
  }
}

/*  im-benefits
=========================== */
.jm-benefits {
  margin: 80px auto 0;
  width: 100%;
  background: var(--bg-soft);
  padding: 100px 0 80px;
}

.jm-benefits__ttlArea {
  text-align: center;
}

.jm-benefits__image {
  margin: 36px auto 0;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.jm-benefits__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.jm-benefits__subTitle {
  text-align: center;
  margin-top: 60px;
  font-size: 28px;
  font-weight: 600;
}

.jm-benefits__columns {
  max-width: 1200px;
  margin: 48px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 32px;
}

.jm-benefits__column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jm-benefits__columnInner {
  flex: 1;
  background-color: var(--bg-base);
  border: 1px solid rgba(0,0,0,0.06);
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
  padding: 40px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.jm-benefits__columnTitle {
  font-size: 20px;
  font-weight: 600;
}

.jm-benefits__columnText {
  margin-top: 16px;
  flex-grow: 1;
  line-height: 1.8;
  text-align: left;
}

@media screen and (max-width: 749px) {
  .jm-benefits {
    margin-top: 60px;
    padding: 80px 0 60px;
  }

  .jm-benefits__image {
    aspect-ratio: 3 / 4;
  }

  .jm-benefits__subTitle {
    margin-top: 44px;
    font-size: 24px;
  }

  .jm-benefits__columns {
    margin-top: 36px;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

/* Brand-story
=========================== */
.jm-brand {
  margin: 100px auto 80px;
  width: 100%;
}

.jm-brand__ttlArea {
  text-align: center;
}

.jm-brand__inner {
  width: 100%;
  max-width: var(--width-base);
  margin: 48px auto 0;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.jm-brand__inner.is-reverse {
  flex-direction: row-reverse;
}

.jm-brand__image {
  width: 50%;
  overflow: hidden;
}

.jm-brand__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.jm-brand__text {
  width: 50%;
}

.jm-brand__textTitle {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
}

.jm-brand__story {
  margin-top: 24px;
}

@media screen and (max-width: 749px) {
  .jm-brand {
    margin: 80px auto 60px;
  }

  .jm-brand__inner {
    margin-top: 36px;
    flex-direction: column;
    gap: 24px;
  }
  .jm-brand__image {
    width: 100%;
    aspect-ratio: 3 / 4;
  }

  .jm-brand__text {
    width: 100%;
  }
}
