/* base.cssに適用 */
@charset "UTF-8";

/* fvセクション
=========================== */


/* jm-concept
=========================== */
.jm-concept {
  margin: 0 auto;
  width: 100%;
}

.jm-concept__ttlArea {
  margin-top: 100px;
  text-align: center;
}

.jm-concept__subtitle {
  font-size: 18px;
  color: #555;
}

.jm-concept__txtArea {
  margin-top: 60px;
  text-align: center;
  font-size: 24px;
}

.jm-concept__paragraphs {
  margin: 48px auto 0;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.jm-concept__paraTitle {
  font-size: 20px;
  font-weight: 500;
}

.jm-concept__paraText {
  margin-top: 8px;
}

@media screen and (max-width: 749px) {
  .jm-concept__ttlArea {
    margin-top: 60px;
  }

  .jm-concept__txtArea {
    margin-top: 44px;
  }

  .jm-concept__columns {
    grid-template-columns: 1fr;
  }
}

/*  JM Benefits
=========================== */
.jm-benefits {
  margin: 0 auto;
  width: 100%;
}

.jm-benefits__ttlArea {
  margin-top: 100px;
  text-align: center;
}

.jm-benefits__image {
  margin: 36px auto 0;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.jm-benefits__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.jm-benefits__subTitle {
  text-align: center;
  margin-top: 60px;
  font-size: 28px;
  font-weight: 600;
}

.jm-benefits__columns {
  max-width: 1200px;
  margin: 48px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 32px;
}

.jm-benefits__column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.jm-benefits__columnInner {
  flex: 1;
  background-color: var(--bg-base);
  padding: 40px 32px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.jm-benefits__columnTitle {
  font-size: 20px;
  font-weight: 600;
}

.jm-benefits__columnText {
  margin-top: 16px;
  flex-grow: 1;
  line-height: 1.8;
  text-align: left;
}

@media screen and (max-width: 749px) {
  .jm-benefits__image {
    aspect-ratio: 3 / 4;
  }

  .jm-benefits__subTitle {
    margin-top: 44px;
    font-size: 24px;
  }

  .jm-benefits__columns {
    margin-top: 36px;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

/* Brand-story
=========================== */
.jm-brand {
  margin: 0 auto;
  width: 100%;
}

.jm-brand__ttlArea {
  margin-top: 100px;
  text-align: center;
}

.jm-brand__inner {
  width: 100%;
  max-width: 1200px;
  margin: 48px auto 0;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.jm-brand__inner.is-reverse {
  flex-direction: row-reverse;
}

.jm-brand__image {
  width: 50%;
  overflow: hidden;
}

.jm-brand__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.jm-brand__text {
  width: 50%;
}

.jm-brand__textTitle {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
}

.jm-brand__story {
  margin-top: 24px;
}

@media screen and (max-width: 749px) {
  .jm-brand__ttlArea {
    margin-top: 60px;
  }

  .jm-brand__inner {
    margin-top: 36px;
    flex-direction: column;
    gap: 24px;
  }
  .jm-brand__image {
    width: 100%;
    aspect-ratio: 3 / 4;
  }

  .jm-brand__text {
    width: 100%;
  }
}
